# Fotos biométricas (datos personales)
src/data/images/*.jpg
src/data/images/*.png

# Modelo entrenado OpenCV
*.yml

# Compilados
target/
*.class
*.jar

# IntelliJ
.idea/
*.iml

# Sistema operativo
.DS_Store
Thumbs.db